.list  {
    list-style: none;
}
.link { text-decoration: none;
}
.hero{
    background-color: #2E2F42;
}
.hero-title{
    font-family: "Roboto",sans-serif;
    font-style: Bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;

}
.body {
    font-family: "Roboto",sans-serif;
    color: #434455;
}

.menu-link {
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.menu-link:hover,
.menu-link:focus{
    color: var(--modal-btn-backgraund-color);
}
.logo{
    font-family: "Raleway",sans-serif;
    font-weight: 800; 
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color:  #4D5AE5;;
    
}
.color-logo{
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}
.color-studio{
    font-family: "Raleway",sans-serif;
    font-weight: 800; 
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2E2F42;
    
}
.color-stud {
    font-family: "Raleway",sans-serif;
    font-weight: 800; 
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #F4F4FD;
    
}
.address-link
 { 
    font-family: "Roboto",sans-serif;
    font-style:normal;
    font-weight: 400; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:is(:hover, :focus){
    color: #404bbf ;
    
}
.modal-btn {
    font-family:"Roboto",sans-serif;
    font-style: Medium;
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    }
.modal-btn:is(:hover, :focus){
    background-color: #404BBF ;
    color: #773838
}
.media-list{ 
    
font-family:"Roboto",sans-serif;
font-style: Medium;
font-size: 20px;
line-height:1.2; 
color:#2E2F42;
}
.footer-text{
    font-family:"Roboto",sans-serif;
    font-style: Regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;   
}
.footer{
    background-color: #2E2F42;
}
/*-------Portfolio-------*/
.photo-text-item {
    font-weight: 500; 
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42; 
}
.title-photos{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;  
}
.footer{
    background-color: #2E2F42;
}